@import '../../shared.scss';

.ctaButton {
  background-color: $button-color;
  border: none;
  outline: none;
  margin: 0 auto;
  padding: 0 42px;
  display: inline-block;
  width: auto;
  border-radius: 26px;
  font-family: $sans;
  font-size: 18px;
  color: $white;
  line-height: 52px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.15s;
  @include grayscale;

  @media screen and (min-width: $break-medium) {
    font-size: 20px;
  }

  &.withShadow {
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.09);
  }

  &:hover {
    background-color: $black-blue;
  }
}