@import '../../shared.scss';

.productsContainer {
  text-align: center;
  
  @media screen and (min-width: $break-medium) {
    display: flex;
  }
  h3 {
    font-size: 30px;
    color: $black-blue;
    text-align: center;
    margin-bottom: 13px;

    @media screen and (min-width: $break-medium) {
      font-size: 40px;
    }
  }
  p {
    color: $black-blue;
    font-size: 18px;
    line-height: 32px;

    @media screen and (min-width: $break-medium) {
      font-size: 20px;
      line-height: 36px;
    }
  }
}

.date {
  font-size: 16px;
  color: $med-grey;
}

.productsImage {
  background: $yellow;
}

.fullLine {
  background: $white;
}

.productList {
  list-style: none;
  margin: 0 auto;
  max-width: 340px;
  padding: 0 0 50px 0;
  text-indent: 0;
  text-align: center;
  color: $black-blue;

  li {
    display: inline-block;
    margin: 0 10px;
    font-family: $slab;
    font-size: 18px;
    line-height: 32px;

    @media screen and (min-width: $break-medium) {
      font-size: 20px;
      line-height: 36px;
    }
  }
}
