@import '../../shared.scss';

.productsContainer {

  .greenBackground {
    position: relative;
    background: $green;
    z-index: 0;
    padding-bottom: 150px;

    @media screen and (min-width: $break-large) {
      padding-bottom: 200px;
    }
  }
}

.edge {
  display: block;
  width: 100%;
  height: 10px;

  path {
    fill: $green;
  }

  @media screen and (min-width: $break-large) {
    height: 20px;
  }
}

.productsImage {
  display: block;
  width: 100%;
  margin-top: -150px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $break-large) {
    margin: -200px auto 0 auto;
    max-width: 1000px;
  }
}

.productList {
  list-style: none;
  margin: -80px -7px 0 -7px;
  padding: 0;
  text-indent: 0;
  text-align: center;
  color: $black-blue;

  li {
    display: inline-block;
    margin: 0 7px;
    font-size: 16px;
    line-height: 42px;
    font-weight: 700;

    @media screen and (min-width: $break-large) {
      font-size: 19px;
    }
  }
}

.productFeatures {
  list-style: none;
  margin: 70px auto 40px auto;
  padding: 20px;
  text-indent: 0;
  columns: auto 2;
  background: $white;
  border-radius: 4px;
  max-width: 430px;
  color: $black-blue;

  li {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
    background-image: url('../../images/checkmark.svg');
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: left center;
  }
}