@import '../../shared.scss';

.productsContainer {

  .greenBackground {
    position: relative;
    background: $green;
    z-index: 0;
    padding-bottom: 150px;

    @media screen and (min-width: $break-large) {
      padding-bottom: 200px;
    }
  }
}

.productsImage {
  display: block;
  width: 100%;
  margin-top: -150px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $break-large) {
    margin: -200px auto 0 auto;
    max-width: 1000px;
  }
}
