@import '../../shared.scss';

.container {
  margin-top: 40px;

  @media screen and (min-width: $break-medium) {
    margin-top: 70px;
  }
}

.bigImage {
  display: none;

  @media screen and (min-width: $break-medium) {
    display: block;
  }
}

.smallImage {
  display: block;

  @media screen and (min-width: $break-medium) {
    display: none;
  }
}