@import '../../shared.scss';

.subscriptionContainer {
  h3:last-child {
    position: relative;
    z-index: 1;
    padding-bottom: 228px;
  }
}

.edge {
  display: block;
  width: 100%;
  height: 10px;

  path {
    fill: $pink;
  }

  @media screen and (min-width: $break-large) {
    height: 20px;
  }
}

.subscriptionImage {
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -228px;

  @media screen and (min-width: $break-large) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscriptionOptions {
  margin-bottom: 80px;
  margin-top: -40px;
  padding: 0 30px;

  @media screen and (min-width: $break-large) {
    padding: 0;
    display: flex;
    margin-bottom: 115px;
    justify-content: center;
  }
}

.option {
  display: flex;
  height: 72px;
  border-radius: 36px;
  background: $pink;
  padding: 12px 36px;
  margin: 10px auto;
  color: $white;
  @include grayscale;
  max-width: 315px;

  @media screen and (min-width: $break-large) {
    margin: 0 18px;
  }

  .features {
    margin-top: 8px;
  }

  h4 {
    font-size: 39px;
    width: 100px;
    margin: 0;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    padding-left: 20px;
    background-image: url('../../images/checkmark.svg');
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: left center;
  }
}