@import '../../shared.scss';

.pressContainer {
  position: relative;
  z-index: 0;
  background: $white;
  padding-bottom: 50px;

  blockquote {
    font-family: $slab;
    font-size: 16px;
    color: $black-blue;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 210px;
    
    @media screen and (min-width: $break-medium) {
      max-width: none;
      text-align: left;
      margin: 0;
      line-height: 47px;
      order: 2;
    }
  }
}

.upworthyLogo {
  display: block;
  max-width: 80px;
  margin: 15px auto;

  @media screen and (min-width: $break-medium) {
    margin: 0 25px 0 0;
  }
}

.flexContainer {
  @media screen and (min-width: $break-medium) {
    display: flex;
  }
}