@import '../../shared.scss';

.pressContainer {
  position: relative;
  z-index: 0;

  blockquote {
    font-family: $slab;
    font-size: 16px;
    color: $black-blue;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 210px;

    @media screen and (min-width: $break-medium) {
      max-width: none;
      text-align: left;
    }
  }
}