@import '../../shared.scss';

.halfPageContainer {
  padding-top: 60px;
  @include grayscale;
  h3 {
    font-family: $slab;
    margin: 0 0 30px 0;
    text-align: left;
  }
  p {
    color: $white;
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (min-width: $break-medium) {
    width: 50%;
    padding-top: 100px;

    h3 {
      text-align: center;
    }
  }
}

.hasBottomImage {
  @media screen and (min-width: $break-medium) {
    position: relative;
    padding-bottom: 25%;
  }

  img {
    width: calc(100% - 40px);
    margin: 50px auto 0 auto;

    @media screen and (min-width: $break-medium) {
      width: calc(100% - 100px);
      position: absolute;
      bottom: 0;
      left: 50px;
    }

    @media screen and (min-width: $break-large) {
      width: calc(100% - 200px);
      left: 100px;
    }
  }
}