@import '../../shared.scss';

.superPacContainer {
  p {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }

  .bold {
    font-weight: 700;
  }
}

.pacImage {
  margin: -11.5rem auto 4rem auto;
  max-width: 23rem;
}

.whiteBackground {
  background: $white;
  padding: 2rem;
  margin-top: 5rem;
}