@import '../../shared.scss';

.aboutContainer {
  color: $white;
  @include grayscale;

  .blueBackground {
    padding: 50px 0;
    background: $blue;

    @media screen and (min-width: $break-large) {
      padding: 100px 0;
    }
  }

  p {
    font-size: 20px;
    line-height: 29px;
    margin: 0 0 26px 0;

    &.bold {
      font-weight: 700;
    }

    &:last-child {
      margin: 0;
    }

    @media screen and (min-width: $break-large) {
      font-size: 26px;
      line-height: 39px;
    }
  }
}

.joinImage {
  margin-top: 60px;
  width: 100%;

  @media screen and (min-width: $break-large) {
    max-width: 490px;
    margin: 60px auto 0 auto;
  }
}