@import '../../shared.scss';

.aboutContainer {
  color: $white;
  @include grayscale;

  @media screen and (min-width: $break-medium) {
    display: flex;
  }

  h3 {
    color: $white;
  }

  .blueBackground {
    padding: 3rem 0;
    background: $blue;
  }

  p {
    font-size: 16px;;
    line-height: 24px;
    color: $white;

    &:last-child {
      margin: 0;
    }
  }
}

.getInvolved {
  background: $orange;
}

.helpUs {
  background: $pink;
}

.joinImage {
  margin-top: 6rem;
  width: 100%;
}