@import '../../shared.scss';

.ctaContainer {
  position: fixed;
  z-index: 2;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0,0,0,0.1);
  display: block;
}

.ctaButton {
  background: $button-color;
  border: none;
  outline: none;
  margin: 0 auto;
  padding: 0 42px;
  display: block;
  border-radius: 26px;
  font-size: 20px;
  color: $white;
  line-height: 52px;
  font-weight: 700;
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.09);
}