@import '../../shared.scss';

.solutionContainer {
  h3 {
    position: relative;
    z-index: 1;

    @media screen and (min-width: $break-large) {
      padding-bottom: 205px;
    }
  }
}

.solutionImage {
  position: relative;
  z-index: 0;
  margin-top: -90px;

  @media screen and (min-width: $break-large) {
    max-width: 753px;
    margin: -205px auto 0 auto;
  }
}
