@import '../../shared.scss';

.page {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 60px;
  @media screen and (min-width: $break-medium) {
    padding-bottom: 120px;
  }

  h3 {
    font-family: $slab;
    color: $black-blue;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 1.5em;

    @media screen and (min-width: $break-medium) {
      font-size: 44px;
      line-height: 52px;
    }
  }
  h4 {
    font-size: 26px;
    font-weight: 700;
  }
  p,
  li {
    font-size: 18px;
    line-height: 27px;
    color: $black-blue;

    a {
      color: $blue;
    }
  }
  form {
    margin-top: 60px;
  }
  input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid $black-blue;
    border-radius: 0;
    appearance: none;
    width: 310px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    vertical-align: top;
    color: $black-blue;
    font-weight: 700;

    &::placeholder {
      color: $black-blue;
      font-weight: 700;
    }
  }

  button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 10px;
    appearance: none;
    background: none;
    padding: 0;
  }
}
