@import '../../shared.scss';

.introSection {
  @include grayscale;
  position: relative;
  background: $light-grey;
  color: $black-blue;
  padding-top: 20px;

  /** remove when press secton comes back **/
  @media screen and (min-width: $break-medium) {
    padding-bottom: 60px;
  }

  &.whiteBg {
    background: $white;
  }
}

.logoMobile {
  display: block;
  margin: 0 auto;
  max-width: 127px;

  @media screen and (min-width: $break-medium) {
    display: none;
  }
}

.logoDesktop {
  display: none;
  margin: 0 0 0 30px;
  max-width: 130px;

  @media screen and (min-width: $break-medium) {
    display: block;
  }
}

.textContainer {
  max-width: 250px;
  margin: 40px auto;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $break-medium) {
    max-width: 600px;
    margin: 280px 0 0 0;
  }
}

.tagline {
  font-family: $slab;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  margin: 0;

  del {
    color: $pink;

    span {
      color: $black-blue;
    }
  }

  sup {
    position: absolute;
    font-family: cortado, script;
    top: -22px;
    margin-left: -18px;
    transform: rotate(-12deg);
    color: $pink;

    @media screen and (min-width: $break-medium) {
      top: -50px;
      margin-left: -60px;
    }
  }

  @media screen and (min-width: $break-medium) {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
  }
}

.pinkText {
  color: $pink;
}

.introImage {
  max-width: 375px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: $break-medium) {
    position: absolute;
    top: 0;
    left: 40%;
    width: 860px;
    max-width: none;
    z-index: 0;
  }
}

.ctaContainer {
  order: 3;
  margin: 47px auto;

  @media screen and (min-width: $break-medium) {
    margin: 90px 0;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-medium) {
    display: block;
  }
}