@import '../../shared.scss';

.introSection {
  @include grayscale;
  position: relative;
  background: $light-grey;
  color: $black-blue;
}

.logo {
  display: block;
  margin: 30px auto 0 auto;
  max-width: 127px;
}

.tagline {
  font-family: $slab;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  max-width: 250px;
  margin: 40px auto;
}

.introImage {
  max-width: 375px;
  margin: 0 auto;
  display: block;
}

.ctaContainer {
  display: none;
}