@import '../../shared.scss';

.introSection {
  @include grayscale;
  position: relative;
  background: $light-grey;
}

.edge {
  display: block;
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 0;
  margin-top: -1px;

  path {
    fill: $blue;
  }
}

.textContainer {
  padding-bottom: 22rem;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 15rem;
}

.tagline {
  font-family: $serif;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $white;
  margin-top: 2.1rem;
}

.introImage {
  margin-top: -22rem;
  position: relative;
  z-index: 1;
}

.ctaContainer {
  display: none;
}