@import '../../shared.scss';

.mainFooter {
  background: $blue;
  @include grayscale;
  padding-top: 90px;
  position: relative;
  z-index: 4;

  .newsletterForm {
    display: block;
    padding-bottom: 90px;

    label {
      display: block;
      color: $white;
      font-family: $slab;
      font-size: 30px;
      margin: 0 0 45px 0;
    }

    input {
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      border-bottom: 2px solid $white;
      border-radius: 0;
      appearance: none;
      width: 220px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      vertical-align: top;

      &::placeholder {
        color: $white;
        font-weight: 700;
      }
    }

    button {
      width: 50px;
      height: 50px;
      border: none;
      outline: none;
      margin-left: 10px;
      appearance: none;
      background: none;
      padding: 0;
    }
  }
}

.socialLinks {
  padding-bottom: 75px;
  a {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-right: 20px;
  }
}