@import '../../shared.scss';

.pinkText {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 2;
  transform: rotate(-15deg);
  font-size: 21px;
  font-family: cortado, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $pink;
  max-width: 110px;
  display: none;

  @media screen and (min-width: $break-medium) {
    font-size: 31px;
    max-width: none;
    display: block;
  }
}