@import './fonts.scss';

/* fonts */
$sans: quiroh, 'Arial Narrow', Arial, sans-serif;
$slab: 'recoleta black', serif;
$serif: justus-pro, serif;

/* colors */
$white: #ffffff;
$light-grey: #f5f6f6;
$med-grey: #777d81;
$black: #122F45;
$black-blue: #0E3C5F;
$peach: #EA775C;
$yellow: #F0CA42;
$dark-yellow: #9d8220;
$green: #7EB944;
$blue: #3B95DB;
$orange: #E37C24;
$pink: #FF95BA;
$button-color: #1abf86;

/* breakpoints */
$break-small: 375px;
$break-medium: 750px;
$break-large: 1500px;

/* utility */
@mixin grayscale {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}