@import './fonts.scss';

/* fonts */
$sans: quiroh, 'Arial Narrow', Arial, sans-serif;
$serif: recoleta, serif;

/* colors */
$blue: #0075d0;
$dark-blue: #004f8d;
$green: #7eb944;
$dark-green: #297b33;
$red: #ff6b4d;
$dark-red: #d12122;
$pink: #e975ab;
$dark-pink: #b14376;
$light-green: #acde55;
$light-grey: #f5f6f6;
$white: #ffffff;
$black-blue: #122f45;
$button-color: #1abf86;

/* breakpoints */
$break-medium: 768px;
$break-large: 1500px;

/* utility */
@mixin grayscale {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}