@import './settings.scss';

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: $serif;
  font-weight: 400;
  background-color: $light-grey;
}

html,
body {
  font-size: 10px;

  @media screen and (min-width: $break-medium) {
    font-size: 15px;
  }

  @media screen and (min-width: $break-large) {
    font-size: 22px;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;

  /* this is pretty lame, but it works for now */
  margin-top: -1px;
}

h2 {
  font-size: 3.25rem;
  line-height: 4.55rem;
  font-family: $slab;
  text-align: center;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: $light-green;
    }
  }
}

/* color classes */

.whiteText {
  color: $white;
}

.redBackground {
  background: $red;
}

.darkRedText {
  color: $dark-red;
}

.blueBackground {
  background: $blue;
}

.darkBlueText {
  color: $dark-blue;
}

.greenBackground {
  background: $green;
}

.darkGreenText {
  color: $dark-green;
}

.pinkBackground {
  background: $pink;
}

.darkPinkText {
  color: $dark-pink;
}

.blueText {
  color: $blue;
}

.blackBlueText {
  color: $black-blue;
}
