@import './settings.scss';

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: $sans;
  font-weight: 400;
  background-color: $black-blue;
}

html,
body {
  font-size: 10px;

  @media screen and (min-width: $break-medium) {
    font-size: 15px;
  }

  @media screen and (min-width: $break-large) {
    font-size: 22px;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  
  /* this is pretty lame, but it works for now */
  margin-top: -1px;
}

h3 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: 700;
  text-align: center;
}

/* color classes */

.white-text {
  color: $white;
}

.red-background {
  background: $red;
}

.dark-red-text {
  color: $dark-red;
}

.blue-background {
  background: $blue;
}

.dark-blue-text {
  color: $dark-blue;
}

.green-background {
  background: $green;
}

.dark-green-text {
  color: $dark-green;
}

.pink-background {
  background: $pink;
}

.dark-pink-text {
  color: $dark-pink;
}
