@import '../../shared.scss';

.teamMember {
  display: flex;
  margin-bottom: 60px;
}

.imageColumn {
  width: 33%;
  padding-right: 20px;

  img {
    border-radius: 50%;
    overflow: hidden;
  }

  @media screen and (min-width: $break-medium) {
    width: 25%;
    padding-right: 60px;
  }
}

.textColumn {
  width: 67%;

  h3 {
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    border: none;
  }

  h4 {
    font-family: $sans;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $label-color;
    margin: 6px 0 32px 0;
    font-weight: 400;
  }

  p {
    width: calc(140% + 20px);
    margin-left: calc(-40% - 20px);
  }

  @media screen and (min-width: $break-medium) {
    width: 75%;

    h3 {
      font-size: 24px;
      line-height: 27px;
    }

    p {
      width: 100%;
      margin-left: 0;
    }
  }
}